# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.idea/
log/
tmp/
master.key

# dependencies
node_modules/

# testing
/coverage

# production
build/
/ekz_api/public/

# misc
.DS_Store/
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
